
/* end */

.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7fafc;
    font-family: "Arial", sans-serif; /* Changed the font family */
}

.auth-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 15px;
    font-family: "Arial", sans-serif; /* Changed the font family */
}

.auth-title {
    font-size: 28px; /* Increased font size */
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Verdana", sans-serif; /* Changed font family */
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-label {
    font-size: 16px; /* Increased font size */
    margin-bottom: 8px;
    color: #333;
    font-family: "Arial", sans-serif; /* Changed the font family */
}

.auth-input {
    padding: 12px; /* Increased padding */
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Increased font size */
    font-family: "Arial", sans-serif; /* Changed font family */
}

.auth-button {
    padding: 14px; /* Increased padding */
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Increased font size */
    font-family: "Arial", sans-serif; /* Changed font family */
}

.auth-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.auth-text {
    
    font-size: 16px; /* Increased font size */
    color: #555;
    text-align: center;
    font-family: "Arial", sans-serif; /* Changed font family */
}

.auth-toggle {
    color: #3182ce;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    font-family: "Arial", sans-serif; /* Changed font family */
}

.auth-resend {
    color: #3182ce;
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    font-family: "Arial", sans-serif; /* Changed font family */
}

.auth-resend:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    .auth-box {
        padding: 15px;
    }

    .auth-title {
        font-size: 24px; /* Adjusted font size for smaller screens */
    }

    .auth-input {
        font-size: 14px; /* Adjusted font size */
    }

    .auth-button {
        font-size: 16px; /* Adjusted font size */
    }

    .auth-label {
        font-size: 14px; /* Adjusted font size */
    }
}


@media (max-width: 480px) {
    .auth-box {
        padding: 10px;
        max-width: 90%;
    }

    .auth-title {
        font-size: 20px; /* Adjusted font size */
    }

    .auth-input {
        font-size: 14px; /* Adjusted font size */
    }

    .auth-button {
        font-size: 16px; /* Adjusted font size */
    }

    .auth-label {
        font-size: 14px; /* Adjusted font size */
    }
}
