.bill-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bill-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .bill-details p {
    margin: 10px 0;
  }
  
  .close-btn {
    background: rgb(255, 106, 0);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
  }
  