.ai-container{
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 119, 0);
    padding: 10px;
    width: 5%;
    height: 10%;
    margin: 10px;
    border-radius: 50%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}

.ai-icon {
    color: black;
    display: inline-block;
  }
  
  .ai-icon.bounce {
    animation: bounce 0.6s ease-in-out;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale(1.09);
    }
  }

.Navbar{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navbar h1{
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: xx-large;
    text-transform: capitalize;
}

.Navbar h3{
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
}

.ms-logo{
    height: 40px;
    margin: 15px -110px 0 -80px;
}

.Nav-Links ul{
    margin-left: -90px;
    display: flex;
    list-style-type: none;
}

.Nav-Links ul li{
    margin: 20px 20px 0 0;
    font-size: 17px;
    cursor: pointer;
}

/* underline effects start */

.Navlink {
    position: relative;
    text-decoration: none;
    list-style: none;
    margin: 8px 6px;
    color: #000000;
    transition: transform 0.3s ease;
    padding-bottom: 5px;
    overflow: hidden;
}

.Navlink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    bottom: 0;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.Navlink:hover::after, .Navlink.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Navlink:hover {
    color: rgb(255, 119, 0);
}

.Navlink.active {
    color: rgb(255, 119, 0);
}

.Navbar-Name-Container{
    margin-right: -60px;
    display: flex;
    flex-direction: row;
}

.Navbar-Name-Container span{
    font-size: 22px;
    margin: 13px 0 0 10px;
    padding: 10px 0;
    transition: ease-in-out 0.2s;
}

.Navbar-Name-Container span:hover{
    transform: scale(1.07);
    color: red;
}

@media only screen and (max-width: 1024px) {
    .Navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        width: auto;
        height: auto;
        padding: 10px;
    }
    
    .Navbar h1{
        margin-bottom: -2px;
    }

    .Nav-Links ul{
        margin: 0;
        display: flex;
        list-style-type: none;
    }
    
    .Nav-Links ul li{
        margin: 20px 20px 0 0;
        font-size: 17px;
        cursor: pointer;
    }

    .ai-container{
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 119, 0);
        padding: 35px;
        width: 5%;
        height: 5%;
        margin: 10px;
        border-radius: 50%;
        z-index: 99999;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        cursor: pointer;
    }
    
    .ai-icon{
        color:black;
    }

    .Navbar-Name-Container{
        margin: 0;
    }

    .Navbar-Name-Container span{
        margin: 5px 0 0 10px;
    }
}